USE [RESTAURANTE]
GO
/****** Object:  StoredProcedure [dbo].[SP_D_RES_PRATOS]    Script Date: 04/10/2021 10:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_D_RES_PRATOS](
@CODIGO INT) AS
SET NOCOUNT ON 
DECLARE @CODIGOPRATO INT

SELECT @CODIGOPRATO = COUNT(PRA_IN_CODIGO)
FROM RES_PRATOS
WHERE PRA_IN_CODIGO = @CODIGO

IF @CODIGOPRATO = 0
BEGIN
  RAISERROR('O código do prato informado não existe!',15,1)
  RETURN
END

DELETE FROM RES_PRATOS WHERE PRA_IN_CODIGO = @CODIGO
RETURN

