USE [RESTAURANTE]
GO
/****** Object:  StoredProcedure [dbo].[SP_S_RES_PRATOS]    Script Date: 04/10/2021 10:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_S_RES_PRATOS]
--PARÂMETROS DE ENTRADA--
AS
SELECT 
	 PRA_IN_CODIGO AS 'Código do prato', 
	 TRIM(UPPER(PRA_ST_NOME)) AS 'Nome do prato',
	 TRIM(UPPER(PRA_ST_DESCRICAO)) AS 'Tipo',
	 TRIM(UPPER(PRA_RE_PRECO)) AS 'Preco' 
FROM 
	RES_PRATOS
ORDER BY
	TRIM(UPPER(PRA_IN_CODIGO)),
	TRIM(UPPER(PRA_ST_NOME)),
	TRIM(UPPER(PRA_ST_DESCRICAO)),
	TRIM(UPPER(PRA_RE_PRECO))

