USE [RESTAURANTE]
GO
/****** Object:  StoredProcedure [dbo].[SP_U_RES_PRATOS]    Script Date: 04/10/2021 10:17:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_U_RES_PRATOS](@CODIGO INT, @NOME VARCHAR(100), @DESCRICAO VARCHAR(50), @PRECO NUMERIC(7,2)) AS
SET NOCOUNT ON
DECLARE @NR_CODPRATOS INT
SELECT @NR_CODPRATOS = COUNT(PRA_IN_CODIGO) FROM RES_PRATOS
WHERE PRA_IN_CODIGO = @CODIGO

IF @NR_CODPRATOS = 0
BEGIN
  RAISERROR('O código informado do prato não existe!',15,1)
  RETURN
END
IF LEN(TRIM(@NOME)) < 3
BEGIN
   RAISERROR('O nome do prato deve possuir no mínimo 3 caracteres!',15,1)
   RETURN
END
UPDATE RES_PRATOS
       SET PRA_ST_NOME = @NOME,
	       PRA_ST_DESCRICAO = @DESCRICAO,
		   PRA_RE_PRECO = @PRECO
       WHERE
	       PRA_IN_CODIGO = @CODIGO
RETURN