USE [RESTAURANTE]
GO
/****** Object:  Trigger [dbo].[TR_RESETID]    Script Date: 04/10/2021 10:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_RESETID] ON [dbo].[RES_PRATOS]

FOR INSERT, UPDATE, DELETE AS

DECLARE @min INT

SELECT @min=MIN([PRA_IN_CODIGO]) FROM [RES_PRATOS]
IF @min IS NULL  
  SET @min = 0

DBCC CHECKIDENT ('[RES_PRATOS]', RESEED, @min)

